<network>
  <name>shoal-lab-net</name>
  <bridge name='{{ shoal_lab_network_bridge }}' stp='on' delay='0'/>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <ip address='{{ shoal_lab_network_gateway }}' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ shoal_lab_network_gateway | regex_replace("(\d+\.\d+\.\d+)\.\d+", "\\1.100") }}' 
             end='{{ shoal_lab_network_gateway | regex_replace("(\d+\.\d+\.\d+)\.\d+", "\\1.200") }}'/>
      {% for node in shoal_bmc_nodes %}
      <host mac='{{ node.mac }}' name='{{ node.name }}' ip='{{ node.ip }}'/>
      {% endfor %}
    </dhcp>
  </ip>
</network>
