{{define "content"}}
<h1>{{.Device.Name}}</h1>
<p><a href="/ui/devices/{{.Device.ID}}/edit">Edit</a></p>
<table class="shoal-kv">
  <tr><th>ID</th><td>{{.Device.ID}}</td></tr>
  <tr><th>Name</th><td>{{.Device.Name}}</td></tr>
  <tr><th>Serial</th><td>{{.Device.Serial}}</td></tr>
  <tr><th>Vendor</th><td>{{.Device.Vendor}}</td></tr>
  <tr><th>Model</th><td>{{.Device.Model}}</td></tr>
  <tr><th>BMC IP</th><td>{{.Device.BMCIP}}</td></tr>
  <tr><th>Lifecycle state</th><td>{{.Device.LifecycleState}}</td></tr>
  <tr><th>Credential ref</th><td>{{.Device.CredentialRef}}</td></tr>
</table>
{{end}}
